<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        h1 {
            color: #333;
            margin-bottom: 20px;
        }

        a {
            text-decoration: none;
            color: white;
            background-color: #007BFF;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        a:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>


    <% if (user) { %>
        <h1>Welcome to the app, <%= user.username %>!</h1>
        <% } else { %>
        <h1>Welcome to the app, guest.</h1>
        <p>
          <a href="/auth/sign-up">Sign up</a> or <a href="/auth/sign-in">sign in</a>.
        </p>
        <% } %>

        
</body>
</html>